.myBtn {
  padding: 5px 15px;
  color: #fff;
  font-size: 14px;
  background: teal;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
}
.myBtn:hover {
  background-color: rgb(7, 87, 87);
}