.myInput {
  width: 100%;
  padding: 5px 15px;
  margin: 5px 0;
  border: 1px solid teal;
  border-radius: 10px;
}
.myInput::-webkit-input-placeholder {
  font-size: 15px;
}
.myInput::-moz-placeholder {
  font-size: 15px;
}
.myInput:-ms-input-placeholder {
  font-size: 15px;
}
.myInput::-ms-input-placeholder {
  font-size: 15px;
}
.myInput::placeholder {
  font-size: 15px;
}